<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8">
  <title>Chat</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='bulma.min.css')}}"> 
</head>

  <body>
      <section class="section content">
        <h1> Chat </h1>
      </section>
      <div class="columns">
          <div class="column">
            {%for name in names%}
            <div class ="card">
              {{name}}
            </div>
            {%endfor%}
          </div>
          <div class="column">
            {%for text in texts%}
            <div class ="card">
              <div class="card-content" $card-radius=10>
                {{text}}
              
              </div>
            </div>
            {%endfor%}
            <form class="box" action="http://localhost:8080/send" method ="POST">
              <div class="field">
                <label class="label">Text</label>
                <div class="control">
                  <input i="text" name="text" class="input" type="text" placeholder="Enter text here">
                </div>
              </div>
              <button class ="button is-primary">Enter</button>
            </form>
          </div>
      </div>


  </body>
</html>