<!DOCTYPE HTML>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Login </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma.min.css')}}">

  </head>
  <body>
    <section class="section content">
      <h1> Login </h1>
    </section>
    <form class="box">
      <div class="field">
        <label class="label">Username</label>
        <div class="control">
          <input class="input" type="text" placeholder="username">
        </div>
      </div>
      <button href="/index" class ="button is-primary">Submit</button>
      <a href='/index'>Login</a>
    </form>

  </body> 
</html>